<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>@@FULLPROJECTNAME@@</string>
	<key>layout</key>
	<string>PWWidgetLayoutDefault</string>
	<key>preferredTintColor</key>
	<string>black</string>
	<key>preferredBarTextColor</key>
	<string>#FFF</string>
	<key>defaultItemViewControllerPlist</key>
	<string>@@PROJECTNAME@@Items</string>
</dict>
</plist>